@import '../../../statics/sass/buttons';

.container {
  min-height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  .mainContent {
    h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: clamp(1.9rem, 50%, 4rem);
    }

    ul {
      display: flex;
      padding: 2rem 0;
      justify-content: space-evenly;
      li {
        margin: auto 1rem;
      }
    }
    p {
      text-align: justify;
      padding: 1rem 0;
      font-size: clamp(1.3rem, 50%, 2.5rem);
    }
  }
}
