@import '../../../statics/sass/_buttons';

.content {
  height: 100vh;

  h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin: 2rem 0;
  }

  p,
  h3 {
    margin: 3rem 0;
  }
}
